{% extends "base.html" %}
{% block content %}



<div class = "row" style= "margin: 0px auto 0px auto">

    <!---__________________________History card structure___________________________________-->

    <div class="col card shadow window p-0 border border-dark">
        <div class="card-header bg-secondary-subtle border-bottom border-dark">
            History
        </div>
        <div style="overflow-y: auto; height: calc(100% - 41px);">
            <ol class="list-group list-group-numbered">
                {% for entry in history_entries%}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{entry.operation}}</div>
                        Attributes:
                    </div>
                    <a href ="{% url "update" entry.id%}" ><i class="bi bi-pencil pe-2"></i></a>
                    <a href ="{% url "delete" entry.id%}" ><i class="bi bi-trash3"></i></a>
                </li>
                {% endfor %}

                <!-- Add more list items here if needed -->
            </ol>
        </div>
        <div class="card-footer d-flex justify-content-end bg-secondary-subtle border-top border-dark">
            <a class="btn btn-danger" href="{% url "reset" %}">Reset</a>
        </div>
    </div>


    <!--___________________________Image card structure_____________________________-->

    <div class= "col-7 shadow card window p-0 border border-dark">
        <div class="d-flex justify-content-between card-header bg-secondary-subtle border-bottom border-dark">
            <div>Original Image</div>
            <div class="bg-secondary-subtle">
                Upload  
                <a href="{% url "upload" %}">
                    <i class="bi bi-upload btn btn-secondary" style="font-size: 1rem; color: white"></i>
                </a>
            </div>
        </div>
        <div class="card-body image-container p-2"
        style= "overflow-y: auto; height: calc(100% - 78px);">
            <!-- Original Image -->
            <div>
            {% if original_image_base64 %}
                
                <img src="data:image/jpeg;base64,{{ original_image_base64 }}" class="img-fluid border border-dark" alt="Original Image">
            {% endif %}
            </div>
        
            {% comment %} <!-- Processed Image -->
            <div class="col-md-6">
            {% if processed_image_base64 %}
                <h2>Processed Image</h2>
                <img src="data:image/jpeg;base64,{{ processed_image_base64 }}" class="img-fluid" alt="Processed Image">
            {% endif %}
            </div> {% endcomment %}
        </div>
        <div class = "card-footer d-flex justify-content-end border-top border-dark">
            <a class="btn btn-success" href="{% url "download" %}" download="Edited_image.png">Save</a>
        </div>

    </div>

    <!--___________________________Tools card structure____________________________-->

    <div class="col shadow card p-0 window border border-dark">
        <div class="card-header bg-secondary-subtle border-bottom border-dark">
            Tools
        </div>
        <form class="d-flex flex-column" style="height: 100vh" action="{% url "apply" %}" method="get">
            <div class="m-2" style="overflow-y: auto;">
                <select id="Category" class="form-select mb-2 border border-dark">
                    <option value="1" style="color: #999">--Category--</option>
                    <option value="2">Pixel processing</option>
                    <option value="3">Filters</option>
                </select>
                <select id="Operation" class="form-select mb-2 border border-dark" name="selected_process">
                    <option>--Operation--</option>
                </select>
            </div>
            <div class="card-header bg-secondary-subtle border-bottom border-top border-dark">
                Attributes
            </div>
            <div class="card-body" style="overflow-y: auto; height: calc(100% - 260px);">
                <!-- Card content goes here -->
            </div>
            <div class="card-footer d-flex justify-content-end bg-secondary-subtle border-top border-dark">
                <button id="applyButton" class="btn btn-success" type="submit">Apply</button>
            </div>
        </form>
    </div>
    
</div>
<script>
    const mainDropdown = document.getElementById('Category');
    const subDropdown = document.getElementById('Operation');
    const applyButton = document.getElementById('applyButton');

    // Define options for sub dropdown based on the selection in the main dropdown
    const optionsByMainDropdown = {
      1: ["--Operation--"],
      2: ["Grayscale", "Invert", "Threshold"],
      3: ["Blur", "Sharpen", "Median"]
    };

    // Function to update options of sub dropdown based on the selected option in the main dropdown
    function updateSubDropdown() {
      const selectedMainOption = mainDropdown.value;
      subDropdown.innerHTML = '';

      optionsByMainDropdown[selectedMainOption].forEach(optionText => {
        const option = document.createElement('option');
        option.textContent = optionText;
        option.value = optionText; // You can set the value as needed
        subDropdown.appendChild(option);
      });
      applyButton.disabled = selectedMainOption === '1';
    }

    // Initially populate sub dropdown based on the default selection in the main dropdown
    updateSubDropdown();

    // Event listener to update sub dropdown when main dropdown selection changes
    mainDropdown.addEventListener('change', updateSubDropdown);
  </script>
{% endblock content %}