{% extends "base.html" %}
{% block content %}

<div class = "row" style= "margin: 0px auto 0px auto">

    <!--============================================================================-->
    <!--                            History card structure                          -->
    <!--============================================================================-->

    <div class="col card shadow window p-0 border border-dark">
        <div class="card-header bg-secondary-subtle border-bottom border-dark">
            History
        </div>
        <div style="overflow-y: auto; height: calc(100% - 41px);">
            <ol class="list-group list-group-numbered">
                {% for entry in history_entries%}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{entry.operation}}</div>
                            <div id = "Attributes">
                                {% for attEntry in attribute_entries %}
                                    {% if attEntry.history == entry %}
                                        {{attEntry.name}}: {{attEntry.value}}
                                    {% endif %}
                                {% endfor %}
                            </div>
                    </div>
                    <a href="#" id="update" data-bs-toggle="modal" data-bs-target="#updateModal">
                        <i class="bi bi-pencil pe-2"></i>
                    </a>
                    <a href ="{% url "delete" entry.id%}" ><i class="bi bi-trash3"></i></a>
                </li>
                {% endfor %}

                <!-- Add more list items here if needed -->
            </ol>
        </div>
        <div class="card-footer d-flex justify-content-end bg-secondary-subtle border-top border-dark">
            <a class="btn btn-danger" href="{% url "reset" %}">Reset</a>
        </div>
    </div>


    <!--============================================================================-->
    <!--                            Image card structure                            -->
    <!--============================================================================-->

    <div class= "col-7 shadow card window p-0 border border-dark">
        <div class="d-flex justify-content-between card-header bg-secondary-subtle border-bottom border-dark">
            <div>Image</div>
            <div class="bg-secondary-subtle">
                Upload  
                <a href="{% url "upload" %}">
                    <i class="bi bi-upload btn btn-secondary" style="font-size: 1rem; color: white"></i>
                </a>
            </div>
        </div>
        <div class="card-body image-container p-2"
        style= "overflow-y: auto;">
            <!-- Original Image -->
            <div>
            {% if original_image_base64 %}
                
                <img src="data:image/jpeg;base64,{{ original_image_base64 }}" class="img-fluid border border-dark" alt="Original Image">
            {% endif %}
            </div>
        
            {% comment %} <!-- Processed Image -->
            <div class="col-md-6">
            {% if processed_image_base64 %}
                <h2>Processed Image</h2>
                <img src="data:image/jpeg;base64,{{ processed_image_base64 }}" class="img-fluid" alt="Processed Image">
            {% endif %}
            </div> {% endcomment %}
        </div>
        <div class = "card-footer d-flex justify-content-end border-top border-dark">
            <a class="btn btn-success" href="{% url "download" %}" download="Edited_image.png">Save</a>
        </div>

    </div>

    <!--============================================================================-->
    <!--                            Tools card structure                            -->
    <!--============================================================================-->

    <div class="col shadow card p-0 window border border-dark">
        <div class="card-header bg-secondary-subtle border-bottom border-dark">
            Tools
        </div>
        <form class="d-flex flex-column" style="height: 100vh" action="{% url "apply" %}" method="get">
            <div class="m-2">
    
                <select id="Category" class="form-select mb-2 border border-dark">
                    <option value="0" style="color: #999">--Category--</option>
                    {% for cat_entry in category_entries %}
                    <option value="{{cat_entry.id}}">{{cat_entry.name}}</option>
                    {% endfor %}
                </select>
                
                <select id="Operation" class="form-select mb-2 border border-dark" name="selected_process">
                    <option value="0" style="color: #999">--Operation--</option>
                </select>
            </div>
            <div class="card-header bg-secondary-subtle border-bottom border-top border-dark">
                Attributes
            </div>
            <div class="card-body" id= "parameters">
                <!-- Card content goes here -->
            </div>
            <div class="card-footer d-flex justify-content-end bg-secondary-subtle border-top border-dark">
                <button id="applyButton" class="btn btn-success" type="submit">Apply</button>
            </div>
        </form>
    </div>

      
    <!--============================================================================-->
    <!--                            Update modal popup                              -->
    <!--============================================================================-->
      <div class="modal" id="updateModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              Modal body..
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>

</div>


{% include "editorScript.html" %}

{% endblock content %}